<h1>Web test</h1> 
<h3><a href="/auth/login">Google</a> </h3><br>
<h3><a href="/auth/facebook">Facebook</a> </h3>
<h1><a href="/profile">HOME</a></h1>
<h1><a href="/profile">Entrar</a></h1></br>
<h1><a href="/auth/sendmail">send mail</a></h1></br> 
<h1><a href="/upload">upload</a></h1> 
