<h1>Web test</h1> 
<h1><a href="/auth/google">login google</a></h1></br>
<h1><a href="/auth/sendmail">send mail</a></h1></br>
<h1><a href="/auth/facebook">login facebook</a></h1>
<h1><a href="/upload">upload</a></h1> 
